RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.madebylara.com.au/$1 [R,L]

RewriteCond %{HTTP_HOST} ^madebylara.com.au [NC]
RewriteRule ^(.*)$ http://www.madebylara.com.au/$1 [L,R=301]
